@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$primaryFont: "Poppins";
$textPrimaryColor: #321E41; 
$bgWhite: #ffffff;
$bgBlack: #000000;
$bgPrimary: #F5F6FA;
$bgDanger: #E6335B;
$btnBorderColor: #97A3B5;
$statusCompleted: #10AE73;
$bgSecondary:linear-gradient(180deg, #322143 0%, #301D40 51.56%, #360C55 100%);
