@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.app {
  display: flex;
}

.main {
  width: 100%;
  padding: 8.125rem 4.25rem 4.25rem 4.875rem;
  background-color: #F5F6FA;
}

.side-bar {
  color: #ffffff;
  width: 18.75rem;
  height: 100vh;
  background: linear-gradient(180deg, #322143 0%, #301D40 51.56%, #360C55 100%);
}
.side-bar .sidebar-icon {
  display: flex;
  justify-content: center;
  padding: 2.5rem 2.25rem 0;
}
.side-bar .sidebar-items {
  margin-top: 9.1875rem;
  margin-left: 3.3125rem;
}
.side-bar .sidebar-items .sidebar-items-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
.side-bar .sidebar-items .sidebar-items-list .list-item {
  display: flex;
}
.side-bar .sidebar-items .sidebar-items-list .list-item li {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 2.625rem;
}
.side-bar .sidebar-items .sidebar-items-list .list-item li a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
}
.side-bar .sidebar-items .sidebar-items-list .list-item li .list-items-icon {
  display: flex;
  width: 1.625rem;
}
.side-bar .sidebar-items .sidebar-items-list .list-item li .list-items-label {
  margin-left: 1rem;
}
.side-bar .sidebar-footer {
  margin-top: 29.875rem;
  margin-left: 3.0625rem;
}
.side-bar .sidebar-footer .sidebar-footer-list-items {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
.side-bar .sidebar-footer .sidebar-footer-list-items li {
  margin-top: 2.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.side-bar .sidebar-footer .sidebar-footer-list-items li .footer-list-items-icon {
  margin-right: 1.25rem;
}
.side-bar .sidebar-footer .sidebar-footer-list-items li a {
  text-decoration: none;
  color: #ffffff;
}
.side-bar .sidebar-footer .sidebar-footer-list-items li a span {
  margin-left: 1rem;
}

.reports h2 {
  font-size: 2.1875rem;
  font-weight: 600;
  color: #000000;
}
.reports h3 {
  color: #321E41;
  margin-top: 2.375rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.reports .report-card {
  display: flex;
  margin-top: 0.9375rem;
}
.reports .report-card:last-child {
  margin-top: 2rem;
}
.reports .report-card .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #321E41;
  padding-left: 4.875rem;
  margin-right: 2.6875rem;
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid transparent;
  width: 25.875rem;
  height: 15rem;
}
.reports .report-card .card-heading {
  display: flex;
}
.reports .report-card .card-heading h4 {
  margin: 0;
  margin-left: 1.25rem;
  font-size: 2.5rem;
  font-weight: 400;
}
.reports .report-card p {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2.0625rem;
}

.activity {
  margin-top: 3.125rem;
}
.activity .activity-header {
  display: flex;
  justify-content: space-between;
}
.activity .activity-header .heading-filters {
  display: flex;
}
.activity .activity-header .heading-filters .export-btn {
  color: #ffffff;
  background-color: #E6335B;
  border-radius: 20px/50%;
  border: transparent;
  padding: 0.4375rem 2rem;
}
.activity .activity-header .heading-filters .export-btn span {
  margin-left: 0.625rem;
}
.activity .activity-header .heading-filters .dropdown {
  margin: 0 0.9375rem;
}
.activity .activity-header .heading-filters .dropdown .dropdown-toggle {
  height: 3.125rem;
  background-color: transparent;
  color: #97A3B5;
  border: 1px solid #97A3B5;
  padding: 0.4375rem 0.9375rem 0.4375rem 2.625rem;
  border-radius: 20px/50%;
  position: relative;
}
.activity .activity-header .heading-filters .dropdown .dropdown-toggle::before {
  content: "";
  top: 30%;
  position: absolute;
  height: 1.0625rem;
  width: 1.0625rem;
  left: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0931 1.274H14.9601V0.6C14.9601 0.44087 14.8968 0.288257 14.7843 0.175735C14.6718 0.0632136 14.5192 0 14.3601 0C14.2009 0 14.0483 0.0632136 13.9358 0.175735C13.8233 0.288257 13.7601 0.44087 13.7601 0.6V1.273H5.43606V0.6C5.43606 0.44087 5.37285 0.288257 5.26032 0.175735C5.1478 0.0632136 4.99519 0 4.83606 0C4.67693 0 4.52432 0.0632136 4.4118 0.175735C4.29927 0.288257 4.23606 0.44087 4.23606 0.6V1.273H2.85406C2.58967 1.27221 2.32772 1.32354 2.08318 1.42405C1.83864 1.52456 1.61631 1.67228 1.42889 1.85876C1.24148 2.04525 1.09266 2.26685 0.990934 2.51088C0.889212 2.75492 0.836584 3.01661 0.83606 3.281V13.981C0.83606 14.5163 1.04864 15.0297 1.42706 15.4083C1.80548 15.7869 2.31876 15.9997 2.85406 16H16.0931C16.628 15.9992 17.1408 15.7863 17.5191 15.4081C17.8974 15.0298 18.1103 14.517 18.1111 13.982V3.282C18.1108 3.01754 18.0583 2.75573 17.9567 2.51157C17.8551 2.26741 17.7063 2.04571 17.5188 1.85917C17.3313 1.67263 17.1089 1.52492 16.8642 1.42451C16.6196 1.32409 16.3575 1.27295 16.0931 1.274V1.274ZM16.9071 13.982C16.9071 14.1979 16.8213 14.4049 16.6686 14.5576C16.516 14.7102 16.3089 14.796 16.0931 14.796H2.85406C2.63817 14.796 2.43113 14.7102 2.27847 14.5576C2.12582 14.4049 2.04006 14.1979 2.04006 13.982V6.336H16.9071V13.982ZM2.03606 5.133V3.281C2.03671 3.17494 2.05831 3.07007 2.09962 2.97239C2.14094 2.87471 2.20114 2.78615 2.27678 2.71181C2.35242 2.63747 2.44201 2.57881 2.54039 2.5392C2.63877 2.49959 2.74401 2.47981 2.85006 2.481H4.23606V2.931C4.23606 3.09013 4.29927 3.24274 4.4118 3.35526C4.52432 3.46778 4.67693 3.531 4.83606 3.531C4.99519 3.531 5.1478 3.46778 5.26032 3.35526C5.37285 3.24274 5.43606 3.09013 5.43606 2.931V2.481H13.7561V2.931C13.7561 3.09013 13.8193 3.24274 13.9318 3.35526C14.0443 3.46778 14.1969 3.531 14.3561 3.531C14.5152 3.531 14.6678 3.46778 14.7803 3.35526C14.8928 3.24274 14.9561 3.09013 14.9561 2.931V2.481H16.0891C16.1951 2.47981 16.3003 2.49959 16.3987 2.5392C16.4971 2.57881 16.5867 2.63747 16.6623 2.71181C16.738 2.78615 16.7982 2.87471 16.8395 2.97239C16.8808 3.07007 16.9024 3.17494 16.9031 3.281V5.132L2.03606 5.133Z' fill='%2397A3B5'/%3E%3C/svg%3E");
}
.activity .activity-header .heading-filters .dropdown .dropdown-menu {
  background-color: #F5F6FA;
  margin: 0;
}
.activity .activity-header .heading-filters .dropdown .dropdown-menu a:not(:last-child) {
  border-bottom: 1px solid rgba(50, 30, 65, 0.3490196078);
}
.activity .activity-header .heading-filters form input {
  position: relative;
  text-align: center;
  background: transparent;
  height: 100%;
  width: 9.5625rem;
  border-radius: 20px/50%;
}
.activity .activity-header .heading-filters form input::before {
  content: "";
  position: absolute;
  height: 0.75rem;
  width: 0.75rem;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9369 6.661C12.9369 7.7806 12.6049 8.87505 11.9829 9.80598C11.3609 10.7369 10.4768 11.4625 9.44247 11.891C8.40812 12.3195 7.26993 12.4316 6.17183 12.2133C5.07373 11.9949 4.06504 11.4559 3.27329 10.6643C2.48155 9.87268 1.94231 8.86408 1.72377 7.76602C1.50522 6.66796 1.61719 5.52975 2.0455 4.49532C2.47382 3.46089 3.19925 2.5767 4.13006 1.95454C5.06088 1.33238 6.15527 1.0002 7.27487 1C8.77626 1 10.2162 1.59643 11.2778 2.65807C12.3394 3.71971 12.9359 5.15961 12.9359 6.661H12.9369Z' stroke='%2397A3B5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.activity .activity-table {
  width: 100%;
  margin-top: 1.25rem;
  color: #321E41;
}
.activity .activity-table .w-20 {
  width: 20%;
}
.activity .activity-table .w-10 {
  width: 10%;
}
.activity .activity-table .w-25 {
  width: 25%;
}
.activity .activity-table .w-5 {
  width: 5%;
}
.activity .activity-table .table-head .table-row {
  display: flex;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1.6875rem 2.5rem 1.5rem;
}
.activity .activity-table .table-head .table-row .table-cell {
  font-size: 1rem;
  font-weight: 400;
}
.activity .activity-table .table-body .table-row {
  display: flex;
  background-color: #ffffff;
  padding: 1.6875rem 2.5rem 1.5rem;
  border-radius: 1rem;
  margin-top: 1.0625rem;
}
.activity .activity-table .table-body .table-row .table-cell {
  display: flex;
  align-items: center;
}
.activity .activity-table .table-body .table-row .candidates-col span {
  padding: 0.375rem 0.875rem;
  background-color: rgba(46, 71, 101, 0.2);
  border-radius: 0.625rem;
  margin-right: 0.875rem;
}
.activity .activity-table .table-body .table-row .results-col span {
  border-right: 1px solid #97A3B5;
  border-left: 1px solid #97A3B5;
  margin: 0 0.4375rem;
  padding: 0 0.4375rem;
}
.activity .activity-table .table-body .table-row .results-col svg {
  margin-right: 0.25rem;
}
.activity .activity-table .table-body .table-row .status-col {
  position: relative;
  color: #10AE73;
}
.activity .activity-table .table-body .table-row .status-col::before {
  margin-left: 0.5rem;
  position: absolute;
  content: "";
  height: 0.375rem;
  width: 0.375rem;
  border-radius: 50px;
  background-color: #10AE73;
  top: 40%;
  left: -20px;
}/*# sourceMappingURL=App.css.map */